<div class="page">
  <div class="center-x">
    <div class="page-content">
      <div class="title">
        Welcome!
      </div>
      <div>
        <p>
          This is an app to see the satellites to determine and display what satellites are above the horizon at a given longitude and latitude.
        </p>
        <p>
          You can start by setting up values for latitude and longitude (or you can leave the default values if you wish).
          Also you can filter down results by selecting a satellite category on the right top corner select.
        </p>
      </div>
      <div class="title">
        Introduction
      </div>
      <div>
        <p>
          I used Angular 6.1 to build this project with the Angular CLI command "ng new satellite-app"
          afterwards I started creating modules and components for the basic structure, such as the Wrapper Module which has the Wrapper
          Component and the Wrapper Footer Component. Also here's where the router outlet is, and it loads any given content based on the URL
          (you're right now on the "About" page).
        </p>
        <p>
          After having a single wrapper to use on the entire project I created the Home Module along with the Home Component
          which basically contains the entire usable app UI and where the satellites info is loaded.
        </p>
        <p>
          Finally, I created the About Module along with the About Component (you're currently on it), here's where the all the project info is and how was done.
        </p>
      </div>
      <div class="title">
        Commands used
      </div>
      <div>
        <p>
          Here are the Angular CLI commands used to create the basic structure
        </p>
        <ul>
          <li>
            ng new my-app
          </li>
          <li>
            ng generate module my-module --routing
          </li>
          <li>
            ng generate component my-component
          </li>
          <li>
            ng generate service my-service
          </li>
          <li>
            ng generate class my-class
          </li>
        </ul>
      </div>
      <div class="title">
        Dependencies used
      </div>
      <div>
        <p>
          There are a few external dependencies used in this project, here's the list of the ones used.
          To install any of them use the command: npm install ( dependency-name )
        </p>
        <ul>
          <li>rxjs-compat version: 6.3.3</li>
          <li>@ng-select/ng-select version: 2.12.0</li>
          <li>foundation-sites version: 6.5.2</li>
          <li>moment version: 2.24.0</li>
          <li>@angular/material version: 7.2.2</li>
        </ul>
      </div>
      <div class="title">
        How to build and test
      </div>
      <div>
        <p>
          After cloning the repository you will need to install all the dependencies from the package.json (use the 'npm install' command)
          afterwards just run the 'ng-serve --aot' command. If you want to build it for production instead use the command: ng-build --prod.
        </p>
        <p>
          Also I already wrote down this commands on the package.json scripts so you can just use 'npm run start' and 'npm run build' respectively
        </p>
      </div>
      <div class="title">
        Thank you!
      </div>
      <div>
        <p>
          If you'd like to contact me there's some useful links on this footer, feel free to use them.
        </p>
      </div>
    </div>
  </div>
</div>
