<div id="header">
  <div class="show-for-small-only menu-icon-container">
    <i class="material-icons" (click)="toggleMenu()">menu</i>
  </div>
  <div class="menu" [class.active]="isMenuVisible">
    <div class="grid-margin-x full-width">
      <div class="cell menu-container">
        <div class="close-button-container show-for-small-only">
          <i class="material-icons" (click)="toggleMenu()">close</i>
        </div>
        <div id="header-nav" class="grid-x grid-margin-y">
          <div class="small-12 medium-shrink cell">
            <button class="navigation-button" [class.active]="isActive('index')" (click)="navigateTo('index')">Home</button>
          </div>
          <div class="small-12 medium-shrink cell">
            <button class="navigation-button"><a href="http://www.linkedin.com/in/mariopdel94" target="_blank">My LinkedIn</a></button>
          </div>
          <div class="small-12 medium-shrink cell">
            <button class="navigation-button"><a href="http://mariopineda.com.mx/" target="_blank">My Website</a></button>
          </div>
          <div class="small-12 medium-shrink cell">
            <button class="navigation-button"><a href="https://api.whatsapp.com/send?phone=526561619831&text=Hi%20Mario!" target="_blank">Contact me</a></button>
          </div>
          <div class="small-12 medium-shrink cell">
            <button class="navigation-button" [class.active]="isActive('about')" (click)="navigateTo('about')">About</button>
          </div>
          <div class="small-12 medium-shrink cell show-for-large avatar-container">
            <a href="http://www.linkedin.com/in/mariopdel94" target="_blank">
              <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t31.0-8/28336597_10213836650183878_4404165959781529034_o.jpg?_nc_cat=105&_nc_ht=scontent.fntr3-1.fna&oh=57e4bc22fe21c42b15884897a2d0ea5c&oe=5CC77128" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
