@import "../../../../assets/styles/common";
@import "../../../../assets/styles/responsive";
@import "../../../../assets/styles/ui-elements/text";

#header {
  width: 100%;
  min-height: 3.5rem;
  background: linear-gradient(color(secondary, base), #160f47);
  padding: 1rem;
  color: color(light);
  overflow: hidden;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include resolutions-below($resolution-medium) {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      transition: all 0.3s ease;
      left: -100%;
      background: linear-gradient(color(secondary, base), #160f47);
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        left: 0;
      }
    }
  }
}

.close-button-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: color(accent, base);
}

.avatar-container {
  max-width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include resolutions-above($resolution-large) {
    justify-content: flex-end;
  }
}

#header-nav {
  @include resolutions-above($resolution-large) {
    display: flex;
    align-items: center;
  }

  .navigation-button {
    @include span-underline(color(accent, base), 1px);
    color: #6255C5;
    cursor: pointer;
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 200;
    margin: 0rem 0.65rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    transition: color 0.5s ease;

    @include resolutions-above($resolution-medium) {
      margin-bottom: 0.65rem;
    }

    &:hover {
      color: color(accent, base);
    }

    &.active {
      color: color(accent, base);
      &:after {
        width: 100%;
      }
    }

    a {
      color: #6255C5;
      text-decoration: none;
      transition: color 0.5s ease;

      &:hover {
        color: color(accent, base);
      }
    }
  }
}
