<div id="footer">
  <div id="content">
    <div id="footer-nav">
        <button class="navigation-button" (click)="navigateTo('index')">Home</button>
      <button class="navigation-button"><a href="http://www.linkedin.com/in/mariopdel94" target="_blank">My LinkedIn</a></button>
      <button class="navigation-button"><a href="http://mariopineda.com.mx/" target="_blank">My Website</a></button>
      <button class="navigation-button"><a href="https://api.whatsapp.com/send?phone=526561619831&text=Hi%20Mario!" target="_blank">Contact me</a></button>
      <button class="navigation-button" (click)="navigateTo('about')">About</button>
    </div>
    <div id="copyright">
      <div class="brand">&copy; Mario A. Pineda.</div>
    </div>
  </div>
</div>
