/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/foundation/foundation.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/styles/ui-elements/colors";
@import "./assets/styles/ui-elements/flex";
@import "./assets/styles/responsive";
@import "./assets/styles/ui-elements/select";

html,
body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: normal;
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  ::selection {
    color: color(light);
    background: color(primary, base);
  }
}

/* Ng-select general styles */
.ng-dropdown-panel-items.scroll-host {
  width: 100% !important;
}

/* Foundation */
// Global styles
@include foundation-global-styles;

// Grids
@include foundation-xy-grid-classes;

// Helpers
@include foundation-visibility-classes;
