<div class="page">
  <div class="center-x grid-x">

    <div class="small-12 cell grid-margin-y grid-x grid-container space-between" style="padding-top: 2rem;">

      <div class="center-y small-12 cell grid-x grid-margin-x grid-margin-y">
        <div class="small-12 medium-shrink cell">
          <span>Latitude</span>
          <br>
          <input type="tel" [(ngModel)]="latitude">
        </div>
        <div class="small-12 medium-shrink cell">
          <span>Longitude</span>
          <br>
          <input type="tel" [(ngModel)]="longitude">
        </div>
        <div class="select-container small-12 medium-shrink cell">
          <br>
          <ng-select
          class="satellite-app-select"
          name="satelliteAppSelect"
          notFoundText="There's no categories with that name"
          placeholder="Filter by category"
          [items]="categories"
          [dropdownPosition]="'bottom'"
          bindLabel="name"
          bindValue="id"
          (change)="onSelectChange()"
          [(ngModel)]="categoryId"
          [searchable]="true">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <div class="center-y">
                <span [ngOptionHighlight]="search">{{ item.name }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="small-12 medium-shrink cell">
          <br>
          <button class="info-button" (click)="getSatellites()" [disabled]="!longitude || !latitude">
            Get info!
          </button>
        </div>
      </div>

      <div class="small-12 cell">
        <div class="cell">
          <button class="info-button" (click)="downloadResponse()">
            Download response
          </button>
        </div>
      </div>

    </div>

    <div class="small-12 cell page-content full-width grid-container relative">
      <app-spinner [class.hidden]="!isBusy"></app-spinner>
      <div [class.hidden]="isBusy" class="table-container">
        <table (matSortChange)="sortData($event)" matSort>

        <tr class="header-row">
          <th class="show-for-large" mat-sort-header="id">ID</th>
          <th mat-sort-header="name">Name</th>
          <th mat-sort-header="latitude">Latitude</th>
          <th mat-sort-header="longitude">Longitude</th>
          <th mat-sort-header="altitude">Altitude</th>
          <th mat-sort-header="launchDate">Launch Date</th>
        </tr>

        <tr *ngFor="let satellite of sortedData" class="content-row">
          <td class="show-for-large">{{ satellite.id }}</td>
          <td>{{ satellite.name }}</td>
          <td>{{ satellite.latitude }}</td>
          <td>{{ satellite.longitude }}</td>
          <td>{{ satellite.altitude }}</td>
          <td>{{ satellite.launchDate }}</td>
        </tr>

        </table>
      </div>
    </div>
  </div>
</div>
